.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.jcc {
  display: flex;
  justify-content: center;
}

.jcr {
  display: flex;
  justify-content: right;
}

.jcsb {
  display: flex;
  justify-content: space-between;
}

.jcsbbtn {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 10px;
}

.jcsa {
  display: flex;
  justify-content: space-around;
}

.aic {
  display: flex;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
  border: 2px solid hotpink;
}

input.success {
  border: 2px solid green;
}

input .error {
  border: 2px solid red;
}

.breadcrumb {
  height: 50px;
  line-height: 20px;
}

.card {
  margin: 10px;
}

table th {
  border: 1px solid hotpink;
  background-color: pink;
  text-align: center;
  vertical-align: middle;
}

table th,
td {
  width: 120px;
  border: 1px solid hotpink;
  text-align: center;
  vertical-align: middle;
}

.login input,
.login p {
  margin: 10px;
}

.day1 {
  margin-left: auto;
}
.day2 {
  margin-right: auto;
}

.table-hover tr:hover td {
  background-color: lightyellow;
}

.vam {
  vertical-align: middle;
}

.carttable,
.favoritetable {
  width: 100%;
  /* padding: 10px; */
  margin-bottom: 10px;
}

.confirmbtn {
  width: 100%;
  padding: 10px;
}

.orderform {
  margin: 10px;
}

.ordertd1 {
  background-color: pink;
}
